# ==========================
# Backend (.NET)
# ==========================

**/bin/
**/obj/

.vs/

TestResults/

*.user
*.suo

# ==========================
# Frontend (Angular)
# ==========================

Frontend/node_modules/
Frontend/dist/
Frontend/.angular/

# ==========================
# IDE
# ==========================

.vscode/

.idea/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# OS
# ==========================

Thumbs.db
.DS_Store

# ==========================
# Environment
# ==========================

.env